---
title: Portfolio
layout: no-style
permalink: /portfolio/
menu: true
---

<main class="portfolio-wrapper">
	<main class="portfolio-main-content">
		<header class="portfolio__big-title">
			<h1>Portfolio</h1>
		</header>

		{% assign projects = site.data.projects | sort: 'order' %}
		{% assign images = site.data.images | sort: 'order' %}

		<main class="portfolio__gallery"> <!-- projects wrapper -->

			{% for project in projects %}
			<section class="portfolio-gallery__item"> <!-- begin project -->
				<!-- 1. title & role: -->
				<ul class="portfolio-item__title">
					<li class="portfolio-title__name"><h2>{{ project.name }}</h2></li>
					<li class="portfolio-title__role"><h2>{{ project.short-role }}</h2></li>
				</ul>

				<!-- 2. pics: -->
				<section class="portfolio-item__pics">
					<ul class="portfolio-pics__pics-wrapper">
						{% for proj in images %} <!-- look at all image objects -->
						{% if proj.order == project.order %} <!-- pick the one matching current order -->
						{% for pic in proj.pics %} <!-- loop through all listed pics -->
						<li class="portfolio-pics__pic">
							<img
							src="{{ 'assets/img/screenshots/' | append: proj.folder | append: '/' | append: pic.image | relative_url }}"
							alt="{{ pic.alt }}"
							height="200px" title="{{ pic.image }} // {{ pic.alt }}"
							aria-label="{{ pic.alt }}"> <!-- end img tag -->
						</li>
						{% endfor %}
						{% endif %}
						{% endfor %}
					</ul>
				</section>

				<!-- 3. metadata: -->
				<p class="portfolio-item__date"><em>{{ project.date }}</em></p>
				<ul class="portfolio-item__metadata">
					<li><span>Role:</span> {{ project.role | markdownify }}</li>
					<li><span>About:</span> {{ project.description | markdownify }}</li>
					<li><span>Link:</span> <p><a href="{{ project.link }}">{{ project.name }}</a></p></li> <!-- <p> b/c markdownify filter adds it; want consistent styles -->
				</ul>
			</section> <!-- end project -->

			{% unless forloop.last %}
			<hr> <!-- line break b/t projects -->
			{% endunless %}
			{% endfor %}
		</main> <!-- end gallery -->
	</main> <!-- end page content -->
</main>