/* New About Styles: */

// Section 0: Wrapper

.about-wrapper {

}

.about-main-content {
	padding: 1.5rem 4.167%;

}

// Section 1: Page title

.about__big-title {
	h1 {
		line-height: 1;
		margin: .25em 0;
		padding-bottom: .0625em;
		font-size: 3.5rem;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 1px solid $halfgray;
	}
}

// Section 2: Bio

.about__bio {

}

.about-bio__title {

}

.about-bio__content {

}

// ul
.about-bio__links {
	padding-left: 0;
	li {
		list-style-type: none;
	}
}

// Section 3: Contact

.about__contact {

}

.about-contact__title {

}

// ul
.about-contact__list {
	padding-left: 0;
}

// li
.about-contact__item {
	position: relative;
	display: flex;
	align-items: center;
	height: 2rem;
	margin: .5rem 0;
	list-style-type: none;
	img {
		height: 2em;
		padding-right: 2em;
	}
	a {

	}
}

// Section 4: Hiring

.about__hire {

}

.about-hire__title {

}

// ul
.about-hire__content {
	padding-left: 0;
	li {
		list-style-type: none;
	}
}