/* New About Styles: */

// Section 0: Wrapper

.about-wrapper {

}

.about-main-content {

}

// Section 1: Page title

.about__big-title {

}

// Section 2: Bio

.about__bio {

}

.about-bio__title {

}

.about-bio__content {

}

.about-bio__links {

}

// Section 3: Contact

.about__contact {

}

.about-contact__title {

}

// ul
.about-contact__list {
	padding-left: 0;
}

// li
.about-contact__item {
	position: relative;
	display: flex;
	align-items: center;
	height: 2rem;
	margin: .5rem 0;
	list-style-type: none;
	img {
		height: 2em;
		padding-right: 2em;
	}
	a {

	}
}

// Section 4: Hiring

.about__hire {

}

.about-hire__title {

}

.about-hire__content {

}