/* Homepage: */

/* Page wrapper: */

.home-wrapper {
	position: relative;
}

/* Content wrapper: */

.home-grid-wrapper {
	position: relative;
}

// grid items
[class*='home__'] {
	position: relative;
	padding: 1em;
	border: 1px solid $textgray;
}

/* Header: */

.home__header {

}

/* Bio: */

.home__bio {

}

/* Portfolio: */

.home__portfolio {

}

/* Call to action: */

.home__cta {

}

/* Contact: */

.home__contact {

}

/* Resume link: */

.home__resume {

}

/* Footer: */

.home__footer {

}