/* New Home Styles: */

body {
	display: grid;
	@media screen and (max-width: 899px) {
		grid-template-columns: 1fr;
		grid-template-areas: 'nav'
							 'main'
							 'footer';
	}
	@media screen and (min-width: 900px) {
		grid-template-columns: 1fr 5fr;
		grid-template-areas: 'nav main'
							 'footer footer';
	}
}

// Section 0: Wrapper

main.home {
	grid-area: main;
	position: relative;
}

main.home-content-wrapper {
	position: relative;
	display: grid;
	grid-template-areas: 'name'
						 'subhed'
						 'info';
	grid-template-columns: 1fr;
	padding: 1.5rem 4.167%;

}

// Section 1: Name

.home__name {
	grid-area: name;
	position: relative;
	h1 {
		line-height: 1;
		margin: .25em 0;
		padding-bottom: .0625em;
		font-size: 4rem;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 1px solid $halfgray;
	}
}

// Section 2: Subheds

.home__subhed {
	grid-area: subhed;
	position: relative;
	display: grid;
	grid-template-areas: 'one one one one ...'
						 '... two two two two'
						 'three three three three three';

}

.home-subhed__one {
	grid-area: one;
}

.home-subhed__two {
	grid-area: two;
}

.home-subhed__three {
	grid-area: three;
}


// Section 3: Information

.home__info {
	grid-area: info;

}

.home-info__hire-me {

}

.home-info__title {

}

.home-info__list {

}

.home-info__portfolio {

}

.home-info__learn {

}