/* Projects Page: */

/* Content wrapper: */
.portfolio-wrapper {

}

.portfolio-main-content {
	position: relative;
	padding: 1.5rem 4.167%;
}

/* Header: */

.portfolio__big-title {
	padding-bottom: 1.5rem;
	padding-top: 1px; // makes up for border
	h1 {
		line-height: 1;
		margin: .25em 0;
		padding-bottom: .0625em;
		font-size: 3.5rem;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 1px solid $halfgray;
	}
}

/* Projects Gallery: */

.portfolio__gallery {

}

/* Gallery item: */

.portfolio-gallery__item {

}

/* Title: */

.portfolio-item__title {
	em {
		color: $halfgray;
	}
}

/* Date: */

.portfolio-item__date {

}

/* Images: */

.portfolio-item__pics {
	position: relative;
}

// div
.portfolio-pics__arrow--left {
	left: 0;
}

// div
.portfolio-pics__arrow--right {
	right: 0;
}

[class*='portfolio-pics__arrow'] {
	position: absolute;
}

// ul, pic list wrapper
.portfolio-pics__pics-wrapper {
	position: relative;
	display: flex;
	flex-flow: row wrap; // delete later
	padding-left: 0;
	list-style-type: none;
}

// li, pic + caption
.portfolio-pics__pic {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	img {
		margin: .25em;
		box-shadow: 0 0 2px 0 hsla(0,0,0,.15);
	}
}

/* Metadata: */

// ul
.portfolio-item__metadata {
	padding-left: 0;
	li {
		position: relative;
		display: flex; // undo effect of <p> from markdownify filter
		// label
		span {
			font-weight: bold;
		}
		// value
		p {
			padding-left: .5em;
		}
	}
}