/* Footer Styles: */

.footer-wrapper {
	position: relative;
	margin: 0;
	padding: 1.5em;
	background-color: $halfgray;
}

.footer-border {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #f0f0f0;
}

.footer-title {
	color: #f0f0f0;
}

// ul
.footer-list {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-left: 0;
}

// li
.footer-list__item {
	list-style-type: none;
	a {
		color: $textgray;
		border-bottom: 1px solid $textgray;
	}
}