/* CSS Element Selectors: */

/* --------------- 1. Font Sizes ----------------- */

p, ul, ol, li, blockquote {
	@media screen and (min-width: 900px) {
		font-size: 1.0625rem;
	}
	@media screen and (min-width: 1200px) {
		font-size: 1.125rem;
	}
}

// Headers

h1, h2, h3, h4, h5 {
	line-height: 1;
}

// Tablet & smaller

@media screen and (max-width: 768px) {
	h1 {
		margin: .5em 0;
		font-size: 2rem;
	}

	h2 {
		margin: 1.25rem 0;
		font-size: 1.5rem;
	}

	h3 {
		margin: calc(.875rem / 2) 0;
		font-size: 1.125rem;
	}

	h4 {
		margin: .5rem 0;
		font-size: 1rem;
	}
}

// Desktop & larger

h1 {
	margin: 1.25rem 0;
	font-size: 2.5rem;
	@media screen and (min-width: 1200px) {
		margin: 1.125rem 0;
		font-size: 3rem;
	}
}

h2 {
	margin: .25em 0;
	font-size: 2rem;
}

h3 {
	margin: 1.25rem 0;
	font-size: 1.5rem;
}

h4 {
	margin: calc(.875rem / 2) 0;
	font-size: 1.125rem;
}

/* --------------- 2. Element Styles ----------------- */

p, ul, ol, li, blockquote {  }

a {
	text-decoration: none;
	font-weight: bold;
	color: $halfgray;
	transition: .3s color, .3s border;
	&:hover, &:focus {
		color: $textgray;
		border-bottom: 1px solid $textgray;
	}
}

blockquote {
	color: $halfgray;
}