---
title: Projects HTML
layout: default
permalink: /projects/
---

<main class="page--projects">
	<header class="projects-header">
		<span class="proj-header__caption">A selection of</span>
		<h1 class="proj-header__page-title">Projects</h1>
	</header>

	<main class="projects-gallery"> <!-- projects wrapper -->

		{% assign projects = site.data.projects | sort: 'order' %}
		{% assign images = site.data.images | sort: 'order' %}

		{% for project in projects %}
		<!-- for proj in projects -->
		<section class="proj-gallery__item"> <!-- 1 project -->
			<h2 class="proj-item__title"><a href="{{ project.link }}">{{ project.name }}</a></h2>
			<p class="proj-item__date"><em>{{ project.date }}</em></p>

			<!-- pics: -->
			<main class="proj-item__pics">

				<ul class="proj-pics__pics-wrapper">
					{% for proj in images %} <!-- look at all image objects -->
					{% if proj.order == project.order %} <!-- pick the one matching current order -->
					{% for pic in proj.pics %} <!-- loop through all listed pics -->
					<li class="proj-pics__pic">
						<img
						src="{{ 'assets/img/screenshots/' | append: proj.folder | append: '/' | append: pic.image | relative_url }}"
						alt="{{ pic.alt }}"
						height="200px" title="{{ pic.image }} // {{ pic.alt }}"
						aria-label="{{ pic.alt }}"> <!-- end img tag -->
					</li>
					{% endfor %}
					{% endif %}
					{% endfor %}
				</ul>
			</main> <!-- end pics -->

			<!-- metadata: -->
			<ul class="proj-item__metadata">
				<li><span>Role:</span> {{ project.role | markdownify }}</li>
				<li><span>Creators:</span> <p>{% for creator in project.creators %} {% if forloop.last %} {{ creator }} {% else %} {{ creator }}, {% endif %} {% endfor %}</p></li> <!-- <p> b/c markdownify filter adds it; want consistent styles -->
				<li><span>About:</span> {{ project.description | markdownify }}</li>
			</ul> <!-- end metadata -->

		</section> <!-- end project -->
		{% endfor %}
	</main> <!-- end gallery -->
</main> <!-- end page content -->