---
title: Projects HTML
layout: default
permalink: /projects/
---

<main class="page--projects">
	<header class="projects-header">
		<span class="proj-header__caption">A selection of</span>
		<h1 class="proj-header__page-title">Projects</h1>
	</header>

	<main class="projects-gallery"> <!-- projects wrapper -->

		{% assign projects = site.data.projects | sort: 'order' %}
		{% assign pics = site.static_files | where: 'image', true %}

		{% for project in projects %}
		<!-- for proj in projects -->
		<section class="proj-gallery__item"> <!-- 1 project -->
			<h2 class="proj-item__title"><a href="{{ project.link }}">{{ project.name }}</a></h2>
			<p class="proj-item__date"><em>{{ project.date }}</em></p>

			<!-- pics: -->
			<main class="proj-item__pics">
				<div class="proj-pics__arrow--left"><<</div>
				<div class="proj-pics__arrow--right">>></div>

				<ul class="proj-pics__pics-wrapper">
					<!-- for pic in pics -->
					{% for pic in pics %}
					{% if pic.path contains project.folder and pic.extname == '.png' %}
					<li class="proj-pics__pic">
						<img src="{{ pic.path | relative_url }}" alt="{{ project.name }} screengrab" height="200px" title="{{ pic.path}}">
						<span>Caption goes here</span>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</main> <!-- end pics -->

			<!-- metadata: -->
			<ul class="proj-item__metadata">
				<li><span>Role:</span> {{ project.role | markdownify }}</li>
				<li><span>Creators:</span> <p>{% for creator in project.creators %} {% if forloop.last %} {{ creator }} {% else %} {{ creator }}, {% endif %} {% endfor %}</p></li> <!-- <p> b/c markdownify filter adds it; want consistent styles -->
				<li><span>About:</span> {{ project.description | markdownify }}</li>
			</ul> <!-- end metadata -->

		</section> <!-- end project -->
		{% endfor %}
	</main> <!-- end gallery -->
</main> <!-- end page content -->