<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% capture fulltitle %}
      {% if page.title %}{{ page.title | escape | append: " | Katherine Donnally Designs Things" }}{% else %}{{ site.title | escape }}{% endif %}
    {% endcapture %}

    <title>{{ fulltitle }}</title>
    <!--meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here"-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <!--link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
    <link rel="stylesheet" href="stylesheet.css" type="text/css"-->
</head>

<body>
  {{ content }}
</body>

</html>